<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}C'est du Chinois{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/x-icon" href="{{ asset('logo.ico') }}" />
    <!-- bootstrap css-->
    <link rel = "stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <!-- bootstrap theme css-->
    <link rel = "stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-theme.min.css') }}">
    <!-- jqueryui css-->
    <link rel = "stylesheet" type="text/css" href="{{ asset('assets/css/jquery-ui.min.css') }}">
    <!-- font awesome css-->
    <link rel = "stylesheet" type="text/css" href="{{ asset('assets/css/fontawesome/css/font-awesome.min.css') }}">
    <!-- style css-->
    <link rel = "stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <!-- google font style css-->
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Bellefair|Parisienne|Montserrat|Open+Sans:400,700" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

</head>
<body>
{{ include('default/navbar.html.twig') }}
<div class="container">
    {% block body %}{% endblock %}
</div>




<!-- jquery js-->
<script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
<!-- jqueryui js-->
<script type="text/javascript" src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
<!-- bootstrap js-->
<script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<!-- personal js-->
<script type="text/javascript" src="{{ asset('assets/js/chinois.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
